.product_detail {
  width: 45%;
  margin-right: 30px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.product_detail img {
  width: 30%;
}
.product_list {
  width: 50%;
  overflow-y: scroll;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product_list .content_item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.quantity {
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}
.quantity button {
  font-size: 40px;
  width: 60px;
  height: 50px;
}
