.cart_item {
  display: flex;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.cart_item img {
  width: 20%;
  height: 80%;
}
.order_info{
  background-color: aliceblue;
  padding: 20px 150px;
  width: 100%;
  border-radius: 10px;
}
.order_info h3{
  font-size: 40px;
}
.icon_delete{
  transition-duration: .1s;
  color: rgb(239 68 68);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 30px;
}
.icon_delete:hover{
  color: rgb(248 113 113);

}